<app-loading-container [loadable]="videoGames$ | async">
  <header>
    <app-video-game-search (queryChanged)="search($event)"></app-video-game-search>
    <app-video-game-filters [filters]="videoGameFilters$ | async"
                            [platforms]="(platforms$ | async).list"
                            (platformFilterChanged)="filterPlatform($event)"
                            (favoritesFilterChanged)="filterFavorites()">
    </app-video-game-filters>
  </header>

  <app-video-game-listing [videoGames]="videoGames$ | async">
  </app-video-game-listing>
</app-loading-container>
