:host {
  button {
    border-radius: 0.35rem;
    border: none;
    cursor: pointer;
    padding: 0.6rem 1.25rem;
    font-size: 1.2em;
    margin-left: 0.4rem;
    margin-right: 0.4rem;

    &:focus {
      outline: none;
    }

    &.primary {
      color: #FFF;
      background-color: #2196F3;
      box-shadow: 0px 5px 0px 0px #1976D2;

      &:active {
        box-shadow: 0px 2px 0px 0px #1976D2;
        transform: translateY(3px);
      }
    }
  }
}
