:host {
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 100%;
  justify-content: space-between;

  img {
    height: 15rem;
    width: auto;
    border-radius: 0.35rem 0.35rem 0 0;
  }

  h3 {
    color: #455A64;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .details {
    padding: 0.75rem 1.25rem;
    background-color: #f7f7f9;
    border-radius: 0 0 0.35rem 0.35rem;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;

    .platform {
      color: #78909C;
    }
  }
}
