:host {
  background-color: #EEF0F1;
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .container {
    width: 90%;
    margin: 0 auto;

    .cards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 1.5%;
      margin-top: 15px;
      box-sizing: border-box;

      .card {
        margin: 0 20px 30px 20px;
        background: #FFF;
        border-radius: 6px;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
        transition: all 0.25s ease-in;

        &:hover, &:focus {
          transform: scale(1.02,1.02);
          box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.29);
          outline: none;
        }
      }
    }
  }
}
