:host {
  margin: 0 2rem 2rem 0;
  background: #fff;
  border-radius: 0.35rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  height: 23.5rem;
  transition: all 0.25s ease-in;

  &:hover,
  &:focus {
    transform: scale(1.02, 1.02);
    box-shadow: 0 1px 9px 2px rgba(0, 0, 0, 0.29);
    outline: none;
  }
}
